body {
    background-color: #f4df4eff;
    margin: 0;
}

.container {
    border: 1px solid;
    display: inline-block;
    /* margin: 100px auto;  */
    position: relative;
    left: 130px;
    background-color:#949398ff ;
    color: #f4df4eff;
    font-family: 'Courier New', Courier, monospace;
    padding: 7px;
}
h1 {
    font-size: 3rem;
    
}
table {
    font-size: 30px;
}

select {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
input{
    font-size: 25px;
}

span {
    font-size: 30px;
}

button {
    font-size: 30px;
}
button[type = "submit"]{
    background-color: #f4df4eff;
    
    border: 2px solid;
}

button[type="reset"]{
    background-color:#949398ff;
    border: 2px solid;
}
@media (max-width: 700px) {
    .container{
        position: static;
        font-size: medium;
        width: 1000px;
        
    }
   
    
}
  
